
/* 
.contenedor{
    background: url(/img/imgvid.jpg);
    width: auto;
    height: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
} */
.video{
    /* background: url(/img/imgvid.jpg); */
    width: auto;
    height: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contenedor video{
    width: 850px;
    height: 450px;
    top: 100px;
    margin-top: 2%;
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill);
}

.imagen{
    background: url(/img/imgvid.jpg); 
    height: 550px;
    width: 100%;
    margin: auto;
    /* background-size: 100%; */
    
} 

#container {
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1920px){
    #container {
        width: 100%;
        margin: 0 auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 532px){
    #container {
        width: 100%;
        margin: 0 auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 300px;
    }
}

.main {
    /* background: url(/img/imgvid.jpg);  */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill);
}

.video-box {
    border: 1px solid black;
    max-width: 800px;
    height: 10px;
    margin: 50px auto 0;
}

/* .video {
    padding: 20px 20px 20px;
} */

.video video {
    width: 100%;
    height: auto;
    top: 50px;
    margin-top: 0.1%;
}